.st-checkbox {
  user-select: none;
  cursor: pointer;

  &__primordial {
    display: none;
  }

  &__illusion {
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid red;
    display: inline-block;
    border-radius: 3px;
    background-color: white;
    transition: all 0.2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 3px;
      height: 7px;
      border-left: 1px solid white;
      border-top: 1px solid white;
      top: 4px;
      left: 5px;
      transform: scale(0) translate(-50%, -50%) rotate(225deg);
      transition: transform 0.2s ease-in-out;
      transform-origin: center center;
    }
  }

  &.is-checked {
    /* stylelint-disable-next-line selector-class-pattern */
    .st-checkbox__illusion {
      background-color: blue;

      &::after {
        transform: scale(1) translate(-50%, -50%) rotate(225deg);
      }
    }
  }
}