.st-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  line-height: 1;
  padding: 0 10px;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: red;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;

  &+& {
    margin-left: 10px;
  }

  // 内容
  &__content {
    box-sizing: border-box;
  }
  
  // 关闭按钮
  &__close {
    margin-left: 4px;
    cursor: pointer;

    &:hover {
      background-color: black;
      border-radius: 50%;
    }
  }
}